@import '~antd/lib/radio/style/index.css';
.editor-box{
  width: 1000px;
  margin: 0 auto;
}
.w-e-text-container{
    min-height: 700px
}
.article_operation{
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}
.article_operation-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}