.article-list{
    padding: 20px 0;
}
.article-item{
    border-bottom: 2px dashed #aaa;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.article-item-title{
    font-weight: normal;
    font-size: 23px;
    color: #2e2e2e;
    padding-bottom: 10px;
    border-bottom:  1px solid #eee;
    margin-bottom: 8px;
    cursor: pointer;
}
.article-item-title:hover{
    color: #49b1f5;
    border-bottom-color: #49b1f5;
}
.article-item-tools{
    color: #777;
    font-size: 13px;
    margin-bottom: 10px;
}
.article-item-desc{
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
.queryBtn{
    color: #49b1f5;
    cursor: pointer;
}
.queryBtn:hover{
    text-decoration: underline
}
.article-card-list{
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
.article-card{
    width: calc(20% - 32px);
    /* flex: 1; */
    height: 280px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 0 15px;
    /* float: left; */
    /* margin-right: 23px; */
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 20px;
}
.imgBox{
    padding: 8px;
    height: 175px;
    overflow: hidden;
    position: relative;
}
.article-card:hover{
    transform: scale(1.1);
    border-color: #1890ff;
}
.imgBox img{
    width: 100%;
}
.article-card-title{
    position: absolute;
    padding: 0 8px;
    height: 45px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.article-card-title span{
    height: 45px;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
    text-overflow:ellipsis;
}
.article-card-desc{
    height: 90px;
    padding: 5px 8px;
    width: 100%;
    overflow:hidden;
}