.hospital-training
    &-top
        text-align: right
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 1px solid #e8e8e8
        button
            margin-right: 15px
    &-box
        overflow: hidden
    &-main
        dispaly: block
        width: 100%
        p
            font-weight: 700
        .content
            width: 100%
            
            .box
                width: 100%
                display: inline-block
                min-height: 200px
                border: 1px solid #d6d6d6
                border-radius: 5px
                margin-bottom: 1rem
                &-title
                    height: 38px
                    background: #f0f0f0
                    padding: 0
                    line-height: 38px
                    padding-left: 10px
                    font-size: 14px
                    margin: 0
                &-content
                    padding: 10px
                    font-size: 13px

.hospital-training .ant-form-item-label
    text-align: left
    display: inline-block
    width: auto
    margin-right: 10px
    font-weight: 700
                    