.login {
  background-color: #2d3a4b;
  position: relative;
  height: 100%;
  &__form {
    padding: 20px !important;
    background-color: #fafafa;
    border-radius: 6px;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-forgot {
      float: right
    }
    &-button {
      width: 100%
    }
  }
}