.mapLabel
    width: 33%
    height: 32px
    display: flex
    align-items: center
    font-size: 14px
    float: left
    &-title
        font-weight: 700
        margin-right: 10px
    &-value
        flex: 1
        text-align: left