.page{
    font-size: 23px;
    color: #fff;
}
.backgroundPage{
    width: 60px;
    height: 60px;
    background-color: #CC130D;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color1{
    background-color: #CC130D;
}
.color2{
    background-color: #006520;
}
.color3{
    background-color: #0875D4;
}
.websiteTitle{ 
    font-size: 18px;
    margin: 0;
}